{% extends "pages/abstract/dashboard.html.twig" %}

{% block stylesheets_page %}
    <!-- Page-specific CSS asset bundle -->
    {{ assets.css('css/form-widgets') | raw }}
{% endblock %}

{# Overrides blocks in head of base template #}
{% block page_title %}{{ translate('MAILING_LIST', 2)}}{% endblock %}

{% block page_description %}{{ translate('MAILING_LIST.PAGE_DESCRIPTION')}}{% endblock %}

{% block body_matter %}
    <div class="row">
        <div class="col-md-12">
            <div id="widget-mailing-lists" class="box box-primary">
                <div class="box-header">
                    <h3 class="box-title pull-left"><i class="fas fa-fw fa-list"></i> {{translate('MAILING_LIST', 2)}}</h3>
                    {% include "tables/table-tool-menu.html.twig" %}
                </div>
                <div class="box-body">
                    {% include "CampaignMan/tables/mailing-lists.html.twig" with {
                            "table" : {
                                "id" : "table-mailing-lists",
                                "columns": ["group"]
                            }
                        }
                    %}
                </div>
                {% if checkAccess('create_mailing_list') %}
                <div class="box-footer">
                    <button type="button" class="btn btn-success js-mailinglist-create">
                        <i class="fas fa-plus-square"></i>  {{ translate("MAILING_LIST.CREATE")}}
                    </button>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
{% block scripts_page %}
    <!-- Include validation rules -->
    <script>
    {% include "pages/partials/page.js.twig" %}
        const group = undefined
    </script>

    <!-- Include form widgets JS -->
    {{ assets.js('js/form-widgets') | raw }}

    <!-- Include page-specific JS -->
    {{ assets.js('js/pages/mailing-lists') | raw }}

{% endblock %}