{# This partial template renders a table of users, to be populated with rows via an AJAX request.
 # This extends a generic template for paginated tables.
 #
 # Note that this template contains a "skeleton" table with an empty table body, and then a block of Handlebars templates which are used
 # to render the table cells with the data from the AJAX request.
#}

{% extends "tables/table-paginated.html.twig" %}

{% block table %}
    <table id="{{table.id}}" class="tablesorter table table-bordered table-hover table-striped" data-sortlist="{{table.sortlist}}">
        <thead>
            <tr>
                <th class="sorter-metatext" data-column-name="subscriber_name" data-column-template="#sub-table-column-name" data-priority="1">Name</th>
                <th class="sorter-metatext" data-column-name="email" data-column-template="#sub-table-column-email" data-priority="2">Email</th>
                <th data-sorter="false" data-filter="false" data-column-name="group_name" data-column-template="#sub-table-column-group" data-priority="3">Group</th>
                <th data-column-name="actions" data-column-template="#sub-table-column-actions" data-sorter="false" data-filter="false" data-priority="1">{{translate("ACTIONS")}}</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
{% endblock %}

{% block table_cell_templates %}
    {# This contains a series of <script> blocks, each of which is a client-side Handlebars template.
     # Note that these are NOT Twig templates, although the syntax is similar.  We wrap them in the `verbatim` tag,
     # so that Twig will output them directly into the DOM instead of trying to treat them like Twig templates.
     #
     # These templates require handlebars-helpers.js, moment.js
    #}
    {% verbatim %}
    <script id="sub-table-column-name" type="text/x-handlebars-template">
        <td data-text="{{row.subscriber_name}}">
           <span>{{row.subscriber_name}}</span>
        </td>
    </script>
    <script id="sub-table-column-email" type="text/x-handlebars-template">
        <td data-text="{{row.email}}">
           <span>{{row.email}}</span>
        </td>
    </script>
    <script id="sub-table-column-group" type="text/x-handlebars-template">
        <td data-text="{{row.group.name}}">
           <span>{{row.group.name}}</span>
        </td>
    </script>
    <script id="sub-table-column-actions" type="text/x-handlebars-template">
        <td class="uf-table-fit-width">
            <div class="btn-group">
                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">{% endverbatim %}{{translate("ACTIONS")}}{% verbatim %}<span class="caret"></span></button>
                <ul class="dropdown-menu dropdown-menu-right-responsive" role="menu">
                        <li>
                            <a href="#" data-subscription-id="{{row.id}}" class="js-subscription-edit">
                                <i class="fas fa-edit"></i> {% endverbatim %}{{translate("EDIT")}}{% verbatim %}
                            </a>
                        </li>
                        <li>
                            <a href="#" data-subscription-id="{{row.id}}" class="js-unsubscribe">
                                <i class="fas fa-ban"></i> {% endverbatim %}{{translate("UNSUBSCRIBE")}}{% verbatim %}
                            </a>
                        </li>
                </ul>
            </div>
        </td>
    </script>
    {% endverbatim %}
{% endblock %}